<footer>
	<div id="footer-top">
		<div class="container">
			<div class="row">

				<div class="col-md-3 logo-gone">
					<%= image_tag("logo-grey.png", class: 'greyLogo') %>
				</div>

				<div class="col-md-3">
					<h3>Information</h3>
					<nav id="footer-pages">
						<ul><%= render partial: 'spree/static_content/static_content_list', collection: Spree::Page.by_store(current_store).visible.footer_links, as: :page %></ul>
					</nav>
				</div>

				<div class="col-md-3 foot-contact">
					<h3>Contact</h3>
					<div>
						<i class="fa fa-map-marker">					
						Line 1
					</div>
					<div>
						<i class="fa fa-phone">
						Phone
					</div>
				</div>
				
			</div><!--row-->
		</div><!--container-->
	</div><!--footer-top-->

	<div id="footer-bottom">
	<div class="container">
	<div class="row">
	<div class="col-md-10">
	Powered by 39bots
	</div>
	<div class="col-md-2">

	</div>
	</div>

	<% if spree_current_user %>
	<% if spree_current_user.has_spree_role?("super") %>
	<%= link_to "Admin super", admin_path, class: 'admin_section' %>
	<% end %>
	<% end %>

	</div>
	</div>

</footer>